Repository datana-gmbh/scanio-lite, changes with the labels that .github/labeler.yml gives for each.
All labels: dependency, Github Actions, PlatformSH

.github/labeler.yml:

"dependency":
    - .github/dependabot.yml
    - composer.json
    - composer.lock
    - symfony.lock
    - tools/composer.json
    - tools/composer.lock

"Github Actions":
    - .github/workflows/*
    - .github/workflows/**/*

"PlatformSH":
    - .php-version
    - .platform.app.yaml
    - .platform/routes.yaml
    - .platform/services.yaml
    - php.ini

Fix: Run 'twig-cs-fixer lint --fix'
  templates/default/list_header.html.twig
Labels: none

fix
  src/Bridge/Flysystem/UrlGenerator.php
  src/Controller/EditController.php
  src/Fixtures/LetterFixtures.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
Labels: none

-
  config/packages/flysystem.yaml
  config/services.yaml
Labels: none

-
  src/Controller/UploadController.php
  src/Crud/Domain/Value/Field.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
Labels: none

-
  config/services.yaml
Labels: none

Fix: Run 'twig-cs-fixer lint --fix'
  templates/layout.html.twig
Labels: none

-
  templates/default/list_header.html.twig
Labels: none

-
  templates/default/list.html.twig
Labels: none

-
  phpstan-baseline.neon
Labels: none

Rename `Venture` to `Group`
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Group.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounter.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/GroupValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/GroupTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/GroupValueResolverTest.php
Labels: none

-
  .github/workflows/database-migration-check.yaml
Labels: Github Actions

Created new migration
  migrations/Version20231206195901.php
Labels: none

Rename `Venture` to `Group` (#21)
  .github/workflows/database-migration-check.yaml
  migrations/Version20231206195901.php
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Group.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounter.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/GroupValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/GroupTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/GroupValueResolverTest.php
Labels: Github Actions

-
  .github/workflows/database-migration-check.yaml
Labels: Github Actions

Rename `Type` to `Category`
  phpstan-baseline.neon
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Category.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/CategoryCounter.php
  src/Tree/Node/CategoryCounterInterface.php
  src/Tree/Node/CategoryNodeFactory.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/CategoryValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/CategoryTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/CategoryValueResolverTest.php
Labels: none

Created new migration
  migrations/Version20231206201746.php
Labels: none

-
  tests/Unit/Domain/Enum/CategoryTest.php
Labels: none

-
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
Labels: none

Rename `Type` to `Category` (#22)
  migrations/Version20231206201746.php
  phpstan-baseline.neon
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Category.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/CategoryCounter.php
  src/Tree/Node/CategoryCounterInterface.php
  src/Tree/Node/CategoryNodeFactory.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/CategoryValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/CategoryTest.php
  tests/Unit/Domain/Enum/TypeTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/CategoryValueResolverTest.php
Labels: none

-
  src/Bridge/Flysystem/UrlGenerator.php
Labels: none

Fix: Namespace
  src/Bridge/Flysystem/UrlGenerator.php
Labels: none

Fix: Namespace (#24)
  src/Bridge/Flysystem/UrlGenerator.php
Labels: none

-
  src/Domain/Enum/Category.php
Labels: none

Remove unused exception
  src/Exception/FileNotFoundException.php
Labels: none

Remove unused exception (#25)
  src/Exception/FileNotFoundException.php
Labels: none

Remove unused constant
  src/Form/Choices.php
Labels: none

-
  src/Controller/EditController.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Crud/List/Query/QueryFactory.php
  src/Entity/Document.php
  src/Fixtures/Factory/LetterFactory.php
  src/Repository/DocumentRepository.php
  src/Repository/DocumentRepositoryInterface.php
  src/Twig/PreviewExtension.php
Labels: none

Rename `Letter` to `Document`
  config/packages/doctrine.yaml
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/DocumentIdType.php
  src/Controller/EditController.php
  src/Domain/Identifier/LetterId.php
  src/Entity/Letter.php
  src/Exception/LetterNotFound.php
  src/Repository/LetterRepository.php
  src/Repository/LetterRepositoryInterface.php
  src/ValueResolver/LetterIdValueResolver.php
  tests/Unit/ValueResolver/LetterIdValueResolverTest.php
Labels: none

-
  src/Fixtures/DocumentFixtures.php
  src/Fixtures/Factory/DocumentFactory.php
Labels: none

-
  src/Entity/Document.php
  src/Exception/DocumentNotFound.php
  src/Repository/DocumentRepository.php
  src/Repository/DocumentRepositoryInterface.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/Domain/Identifier/LetterId.php
  src/Repository/DocumentRepositoryInterface.php
Labels: none

Fix: Run 'rector process'
  src/Entity/Document.php
Labels: none

-
  migrations/Version20230425110811.php
  migrations/Version20231206114226.php
  migrations/Version20231206195901.php
  migrations/Version20231206201746.php
  migrations/Version20231207043103.php
  src/Domain/Identifier/DocumentId.php
  src/Entity/Document.php
  src/Fixtures/Factory/DocumentFactory.php
  src/Repository/DocumentRepository.php
  src/Repository/DocumentRepositoryInterface.php
  src/Twig/PreviewExtension.php
  src/ValueResolver/DocumentIdValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  tests/Unit/ValueResolver/LetterIdValueResolverTest.php
Labels: none

Remove old Kunstmaan template
  templates/pdf/Test/test.html.twig
Labels: none

-
  tests/Unit/ValueResolver/DocumentIdValueResolverTest.php
Labels: none

Remove old Kunstmaan template
  templates/pdf/Test/test.html.twig
Labels: none

-
  phpstan-baseline.neon
Labels: none

Rename `Letter` to `Document` (#23)
  config/packages/doctrine.yaml
  migrations/Version20230425110811.php
  migrations/Version20231206114226.php
  migrations/Version20231206195901.php
  migrations/Version20231206201746.php
  migrations/Version20231207043103.php
  phpstan-baseline.neon
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/DocumentIdType.php
  src/Controller/EditController.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Crud/List/Query/QueryFactory.php
  src/Domain/Identifier/DocumentId.php
  src/Entity/Document.php
  src/Exception/DocumentNotFound.php
  src/Exception/LetterNotFound.php
  src/Fixtures/DocumentFixtures.php
  src/Fixtures/Factory/DocumentFactory.php
  src/Repository/DocumentRepository.php
  src/Repository/DocumentRepositoryInterface.php
  src/Repository/LetterRepository.php
  src/Repository/LetterRepositoryInterface.php
  src/Twig/PreviewExtension.php
  src/ValueResolver/DocumentIdValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  tests/Unit/ValueResolver/DocumentIdValueResolverTest.php
Labels: none

-
  composer.json
  composer.lock
Labels: dependency

Enhancement: Require `vincentlanglet/twig-cs-fixer` with version `^2.0`
  composer.json
  composer.lock
Labels: dependency
