Repository datana-gmbh/scanio-lite, changes with the labels that .github/labeler.yml gives for each.
All labels: dependency, Github Actions, PlatformSH

.github/labeler.yml:

"dependency":
    - .github/dependabot.yml
    - composer.json
    - composer.lock
    - symfony.lock
    - tools/composer.json
    - tools/composer.lock

"Github Actions":
    - .github/workflows/*
    - .github/workflows/**/*

"PlatformSH":
    - .php-version
    - .platform.app.yaml
    - .platform/routes.yaml
    - .platform/services.yaml
    - php.ini

-
  .env
  .platform.app.yaml
  .platform/routes.yaml
  README.md
  composer.lock
Labels: dependency, PlatformSH

-
  README.md
  composer-unused.php
  composer.json
  config/packages/cache.yaml
  rector.php
  tools/composer.json
Labels: dependency

Bump
  composer.json
  composer.lock
Labels: dependency

Revert "github-actions(deps): bump actions/labeler from 4 to 5 (#3)"
  .github/workflows/triage.yaml
Labels: Github Actions

Revert "github-actions(deps): bump actions/labeler from 4 to 5" (#11)
  .github/workflows/triage.yaml
Labels: Github Actions

-
  tools/composer.lock
Labels: dependency

-
  config/packages/flysystem.yaml
Labels: none

Enhancement: Add Flysystem
  composer.json
  composer.lock
  config/bundles.php
  config/packages/flysystem.yaml
  symfony.lock
Labels: dependency

Enhancement: Add Flysystem (#10)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/flysystem.yaml
  symfony.lock
Labels: dependency

Require ComposerRequireChecker 4.8
  phive.xml
  public/documents/7bf95617.pdf
  tools/composer-require-checker
Labels: none

Require ComposerRequireChecker 4.8 (#12)
  phive.xml
  public/documents/7bf95617.pdf
  tools/composer-require-checker
Labels: none

Revert "github-actions(deps): bump actions/labeler from 4 to 5 (#13)"
  .github/workflows/triage.yaml
Labels: Github Actions

Revert "github-actions(deps): bump actions/labeler from 4 to 5" (#14)
  .github/workflows/triage.yaml
Labels: Github Actions

-
  src/Fixtures/Factory/LetterFactory.php
  src/Twig/PropertyAccessExtension.php
Labels: none

-
  Makefile
  public/documents/d9707c1149d36207e56d2335e50e8de89fa02681.pdf
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/LetterIdType.php
  src/Domain/Enum/Type.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Fixtures/GlobalFixtures.php
  src/Fixtures/LetterFixtures.php
  src/Fixtures/Story/GlobalStory.php
Labels: none

-
  .gitignore
  .platform.app.yaml
  .platform/services.yaml
  Makefile
  migrations/Version20231206090936.php
  public/documents/d9707c1149d36207e56d2335e50e8de89fa02681.pdf
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Fixtures/GlobalFixtures.php
  src/Fixtures/LetterFixtures.php
  src/Fixtures/Story/GlobalStory.php
Labels: PlatformSH

-
  tests/Unit/Domain/Enum/TypeTest.php
Labels: none

-
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Tree/Node/DefaultVentureNodeBuilder.php
  tests/Unit/Domain/Enum/TypeTest.php
Labels: none

-
  phpstan-baseline.neon
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Domain/Enum/Type.php
  src/Domain/Enum/Venture.php
  src/Entity/Letter.php
  src/Fixtures/LetterFixtures.php
  src/Tree/Node/DefaultVentureNodeBuilder.php
  tests/Unit/Crud/Domain/Enum/FieldTypeTest.php
  tests/Unit/Crud/Domain/Enum/SortDirectionTest.php
  tests/Unit/Crud/Domain/Value/FieldTest.php
  tests/Unit/Crud/Domain/Value/PaginationTest.php
  tests/Unit/Crud/Domain/Value/SortingTest.php
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Crud/List/ListResultTest.php
  tests/Unit/Domain/Enum/TypeTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/TypeValueResolverTest.php
Labels: none

-
  composer.json
  composer.lock
  config/packages/workflow.yaml
  src/Controller/EditController.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Domain/Enum/Type.php
  src/Form/BaseForm.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Workflow/WorkflowExtractor.php
  symfony.lock
Labels: dependency

-
  phpstan-baseline.neon
  src/Tree/Node/DefaultVentureNodeBuilder.php
Labels: none

-
  src/Controller/UploadController.php
  src/Form/UploadeFormType.php
  src/Routing/Routes.php
  src/Tree/Node/UploadFileNodeBuilder.php
  templates/default/edit.html.twig
  templates/upload/upload.html.twig
Labels: none

-
  src/Fixtures/Factory/LetterFactory.php
Labels: none

-
  migrations/Version20231206090936.php
  public/documents/7bf95617.pdf
  src/Controller/UploadController.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/UploadFormType.php
Labels: none

-
  phpstan-baseline.neon
Labels: none

-
  src/ValueResolver/LetterIdValueResolver.php
  tests/Unit/ValueResolver/ValueResolverTestCase.php
Labels: none

-
  src/Controller/DashboardController.php
  src/Routing/Routes.php
  tailwind.config.js
  templates/base.html.twig
  webpack.config.js
  yarn.lock
Labels: none

-
  tests/Unit/ValueResolver/LetterIdValueResolverTest.php
  tests/Unit/ValueResolver/TypeValueResolverTest.php
  tests/Unit/ValueResolver/VentureValueResolverTest.php
Labels: none

-
  .eslintrc.js
  .npmrc
  .nvmrc
  composer-unused.php
  migrations/Version20231206114226.php
  package.json
  yarn.lock
Labels: none

-
  composer.json
  composer.lock
Labels: dependency

-
  src/ValueResolver/LetterIdValueResolver.php
  tests/Unit/Domain/Enum/TypeTest.php
Labels: none

-
  src/Domain/Enum/Type.php
  src/Domain/Enum/Venture.php
  src/Entity/Letter.php
Labels: none

-
  tests/Unit/Domain/Enum/TypeTest.php
Labels: none

-
  src/Fixtures/Factory/LetterFactory.php
Labels: none

-
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Domain/Enum/Type.php
  src/Entity/Letter.php
  src/Fixtures/LetterFixtures.php
  src/Tree/Node/DefaultVentureNodeBuilder.php
  tests/Unit/Domain/Enum/TypeTest.php
  tests/Unit/ValueResolver/TypeValueResolverTest.php
Labels: none

-
  src/Controller/Admin/DashboardController.php
  src/Controller/UploadFileController.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
Labels: none

-
  src/ValueResolver/LetterIdValueResolver.php
  src/ValueResolver/TypeValueResolver.php
  src/ValueResolver/VentureValueResolver.php
  tests/Integration/ValueResolver/ValueResolverTestCase.php
  tests/Unit/ValueResolver/LetterIdValueResolverTest.php
  tests/Unit/ValueResolver/TypeValueResolverTest.php
  tests/Unit/ValueResolver/ValueResolverTestCase.php
  tests/Unit/ValueResolver/VentureValueResolverTest.php
Labels: none

-
  tests/Unit/Domain/Enum/VentureTest.php
Labels: none

fix
  src/Twig/PreviewExtension.php
  templates/pdf/Test/test.html.twig
  templates/pdf/preview.html.twig
Labels: none

-
  config/routes/security.yaml
  src/Routing/Routes.php
  src/Tree/Node/DefaultVentureNodeBuilder.php
  symfony.lock
  templates/layout.html.twig
Labels: dependency
