Repository datana-gmbh/scanio-lite, changes with the labels that .github/labeler.yml gives for each.
All labels: dependency, Github Actions, PlatformSH

.github/labeler.yml:

dependency:
    - changed-files:
        - any-glob-to-any-file:
            - .github/dependabot.yml
            - composer.json
            - composer.lock
            - symfony.lock
            - tools/composer.json
            - tools/composer.lock
'Github Actions':
    - changed-files:
        - any-glob-to-any-file:
            - '.github/workflows/*'
            - '.github/workflows/**/*'
PlatformSH:
    - changed-files:
        - any-glob-to-any-file:
            - .php-version
            - .platform.app.yaml
            - .platform/routes.yaml
            - .platform/services.yaml
            - php.ini

Add login (#44)
  .github/workflows/ci-js.yaml
  .github/workflows/ci-php.yaml
  .nvmrc
  assets/css/tailwind.css
  assets/images/datana-logo-complete-gray.png
  composer.json
  composer.lock
  config/packages/security.yaml
  migrations/Version20231208113621.php
  phpstan-baseline.neon
  src/Bridge/Faker/ExtendedGenerator.php
  src/Bridge/Faker/Provider/EmailProvider.php
  src/Controller/IndexController.php
  src/Controller/Security/DashboardController.php
  src/Controller/Security/EditController.php
  src/Controller/Security/ListController.php
  src/Controller/Security/LogoutController.php
  src/Controller/Security/UploadController.php
  src/Entity/User.php
  src/Exception/UserNotFound.php
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
  src/Repository/UserRepository.php
  src/Repository/UserRepositoryInterface.php
  src/Routing/Routes.php
  src/Security/UserAuthenticator.php
  templates/layout.html.twig
  templates/page/index.html.twig
  templates/page/layout.html.twig
  tests/Functional/AppBrowser.php
  tests/Functional/Controller/LoginControllerTest.php
  tests/Functional/FunctionalDummyTest.php
  tests/Unit/Routing/RoutesTest.php
Labels: dependency, Github Actions

Fix: Pdf preview
  src/Twig/PreviewExtension.php
Labels: none

Fix pdf file
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
Labels: none

Fix: Run 'rector process'
  src/Fixtures/Factory/DocumentFactory.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/Fixtures/Factory/DocumentFactory.php
Labels: none

Fix: PDF preview (#53)
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
  src/Twig/PreviewExtension.php
Labels: none

-
  config/packages/security.yaml
  config/packages/test/security.yaml
Labels: none

-
  composer.json
  composer.lock
Labels: dependency

-
  config/packages/datana_logz_io_handler.yaml
  symfony.lock
Labels: dependency

Enhancement: Streamline PW hashing.
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
Labels: none

Enhancement: Streamline PW hashing (#60)
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
Labels: none

Require `symfony/mime`
  composer.json
  composer.lock
Labels: dependency

-
  composer-unused.php
Labels: none

Require `symfony/mime` (#61)
  composer-unused.php
  composer.json
  composer.lock
Labels: dependency

Fixes
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Form/Choices.php
  tests/Unit/Form/ChoicesTest.php
Labels: none

-
  src/Form/UploadFormType.php
Labels: none

fix
  src/Form/UploadFormType.php
Labels: none

Fixes (#62)
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Form/Choices.php
  src/Form/UploadFormType.php
  tests/Unit/Form/ChoicesTest.php
Labels: none

Enhancement: use real PDF files
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
  src/Fixtures/Resources/files/invoice1.pdf
  src/Fixtures/Resources/files/invoice2.pdf
  src/Fixtures/Resources/files/invoice3.pdf
  src/Fixtures/Resources/files/invoice4.pdf
Labels: none

Enhancement: use real PDF files (#63)
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
  src/Fixtures/Resources/files/invoice1.pdf
  src/Fixtures/Resources/files/invoice2.pdf
  src/Fixtures/Resources/files/invoice3.pdf
  src/Fixtures/Resources/files/invoice4.pdf
Labels: none

-
  templates/upload/upload.html.twig
Labels: none

-
  src/Form/UploadFormType.php
Labels: none

Fixes
  migrations/Version20231212133017.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Entity/Document.php
  src/Fixtures/Factory/DocumentFactory.php
  src/Form/Type/SearchableChoiceType.php
Labels: none

-
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Fixtures/Factory/DocumentFactory.php
Labels: none

-
  phpstan-baseline.neon
Labels: none

-
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Entity/Document.php
  tailwind.config.js
  templates/default/edit.html.twig
Labels: none

-
  src/Controller/Security/EditController.php
Labels: none

-
  phpstan-baseline.neon
  src/Controller/Security/EditController.php
  src/Crud/Edit/Form/Types/Default/BaseForm.php
  src/Crud/Edit/Form/Types/Default/Other.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Unknown.php
  src/Form/BaseForm.php
  src/Form/PendingForm.php
Labels: none

Fix: Update VERSION file with current release version
  VERSION
Labels: none

Add `AppBrowser::login()`
  tests/Functional/AppBrowser.php
Labels: none

Add `AppBrowser::login()` (#71)
  tests/Functional/AppBrowser.php
Labels: none

Use `AppBrowser::login()`
  tests/Functional/Controller/LoginControllerTest.php
Labels: none

Fix: Run 'twig-cs-fixer lint --fix'
  templates/form/tailwind_layout.html.twig
Labels: none

Enhancement: Adds UploadController
  src/Controller/Security/UploadController.php
  src/Form/Type/SearchableEnumType.php
  src/Form/UploadFormType.php
  templates/form/tailwind_layout.html.twig
  tests/Fixture/blank.pdf
  tests/Functional/Controller/DashboardControllerTest.php
  tests/Functional/Controller/UploadFileControllerTest.php
Labels: none

Adds test
  templates/form/tailwind_layout.html.twig
  tests/Functional/Controller/UploadFileControllerTest.php
Labels: none

Upgrade recipe and fix deprecation
  config/packages/framework.yaml
  config/packages/security.yaml
  symfony.lock
Labels: dependency

Remove files before tests
  Makefile
Labels: none

Upgrade recipe and fix deprecation (#73)
  config/packages/framework.yaml
  config/packages/security.yaml
  symfony.lock
Labels: dependency

Enhancement: Add `Document::$originalFilename`
  src/Entity/Document.php
Labels: none
