Repository datana-gmbh/scanio-lite, changes with the labels that .github/labeler.yml gives for each.
All labels: dependency, Github Actions, PlatformSH

.github/labeler.yml:

dependency:
    - changed-files:
        - any-glob-to-any-file:
            - .github/dependabot.yml
            - composer.json
            - composer.lock
            - symfony.lock
            - tools/composer.json
            - tools/composer.lock
'Github Actions':
    - changed-files:
        - any-glob-to-any-file:
            - '.github/workflows/*'
            - '.github/workflows/**/*'
PlatformSH:
    - changed-files:
        - any-glob-to-any-file:
            - .php-version
            - .platform.app.yaml
            - .platform/routes.yaml
            - .platform/services.yaml
            - php.ini

Enhancement: Use `actions/labeler@v5` and migrate format used in `labeler.yml`
  .github/workflows/triage.yaml
Labels: Github Actions

Enhancement: Use `actions/labeler@v5` and migrate format used in `labeler.yml` (#40)
  .github/workflows/triage.yaml
Labels: Github Actions

Enhancement: Bump dependencies in `composer.json`
  composer.json
  composer.lock
Labels: dependency

Enhancement: Bump dependencies in `composer.json` (#41)
  composer.json
  composer.lock
Labels: dependency

Add user
  config/packages/security.yaml
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdType.php
  src/Domain/Identifier/UserId.php
  src/Entity/User.php
  src/Exception/UserNotFound.php
  src/Repository/UserRepository.php
  src/Repository/UserRepositoryInterface.php
Labels: none

-
  phpstan-baseline.neon
  src/Entity/User.php
Labels: none

-
  src/Entity/User.php
Labels: none

-
  config/packages/security.yaml
  src/Fixtures/Factory/UserFactory.php
Labels: none

-
  config/packages/security.yaml
Labels: none

-
  config/packages/security.yaml
Labels: none

-
  config/packages/doctrine.yaml
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/DocumentIdTypeTest.php
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdTypeTest.php
Labels: none

Created new migration
  migrations/Version20231208111249.php
Labels: none

-
  src/Fixtures/Story/GlobalStory.php
  src/Fixtures/UserFixtures.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/Fixtures/UserFixtures.php
Labels: none

-
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdType.php
Labels: none

-
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdType.php
Labels: none

Add `User` entity (#42)
  config/packages/doctrine.yaml
  config/packages/security.yaml
  migrations/Version20231208111249.php
  phpstan-baseline.neon
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdType.php
  src/Domain/Identifier/UserId.php
  src/Entity/User.php
  src/Exception/UserNotFound.php
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
  src/Fixtures/UserFixtures.php
  src/Repository/UserRepository.php
  src/Repository/UserRepositoryInterface.php
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/DocumentIdTypeTest.php
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/UserIdTypeTest.php
Labels: none

Add fields based on expression language
  config/packages/doctrine.yaml
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/FieldIdType.php
  src/Controller/Admin/DashboardController.php
  src/Controller/Admin/FieldCrudController.php
  src/Domain/Identifier/FieldId.php
  src/Entity/Field.php
  src/Exception/FieldNotFound.php
  src/Fixtures/FieldFixtures.php
  src/Repository/FieldRepository.php
  src/Repository/FieldRepositoryInterface.php
Labels: none

Created new migration
  migrations/Version20231209191601.php
Labels: none

-
  src/Entity/Field.php
Labels: none

Created new migration
  migrations/Version20231209191648.php
Labels: none

fix
  src/Entity/Document.php
  src/Fixtures/Factory/FieldFactory.php
  src/Fixtures/FieldFixtures.php
Labels: none

-
  config/packages/security.yaml
  config/services.yaml
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/ExpressionLanguage/ExpressionFunctionProviders/DocumentExpressionLanguageProvider.php
  src/ExpressionLanguage/ExpressionFunctionProviders/StringExpressionLanguageProvider.php
  src/ExpressionLanguage/FieldExpressionLanguage.php
  src/Fixtures/FieldFixtures.php
Labels: none

-
  src/Condition/ConditionProvider.php
  src/Condition/ConditionProviderInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Fixtures/FieldFixtures.php
Labels: none

-
  src/Condition/ConditionProvider.php
  src/Condition/ConditionProviderInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Fixtures/FieldFixtures.php
Labels: none

Fix: Run 'rector process'
  src/ExpressionLanguage/ExpressionFunctionProviders/DocumentExpressionLanguageProvider.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/ExpressionLanguage/ExpressionFunctionProviders/DocumentExpressionLanguageProvider.php
Labels: none

Add Login
  config/packages/security.yaml
  src/Controller/LoginController.php
  src/Routing/Routes.php
  templates/login.html.twig
Labels: none

-
  config/packages/security.yaml
Labels: none

-
  config/packages/security.yaml
  migrations/Version20231208113621.php
  src/Controller/LoginController.php
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
  templates/login.html.twig
  tests/Functional/AppBrowser.php
  tests/Functional/Controller/LoginControllerTest.php
Labels: none

-
  src/Controller/LoginController.php
  tests/Unit/Routing/RoutesTest.php
Labels: none

-
  config/packages/security.yaml
  src/Controller/IndexController.php
  src/Controller/Security/DashboardController.php
  src/Controller/Security/EditController.php
  src/Controller/Security/ListController.php
  src/Controller/Security/UploadController.php
  src/Entity/User.php
  templates/login.html.twig
  tests/Functional/AppBrowser.php
  tests/Functional/Controller/LoginControllerTest.php
  tests/Functional/FunctionalDummyTest.php
Labels: none

Fix: Run 'rector process'
  src/Controller/IndexController.php
Labels: none

-
  phpstan-baseline.neon
Labels: none

-
  src/Controller/LoginController.php
Labels: none

Update config/packages/security.yaml
  config/packages/security.yaml
Labels: none

Fixc
  assets/css/tailwind.css
  assets/images/datana-logo-complete-gray.png
  config/packages/security.yaml
  phpstan-baseline.neon
  src/Bridge/Faker/ExtendedGenerator.php
  src/Bridge/Faker/Provider/EmailProvider.php
  src/Controller/IndexController.php
  src/Controller/LoginController.php
  src/Controller/Security/LogoutController.php
  src/Exception/UserNotFound.php
  src/Fixtures/Story/GlobalStory.php
  src/Repository/UserRepository.php
  src/Repository/UserRepositoryInterface.php
  src/Routing/Routes.php
  src/Security/UserAuthenticator.php
  templates/layout.html.twig
  templates/login.html.twig
  templates/page/index.html.twig
  templates/page/layout.html.twig
  tests/Functional/AppBrowser.php
  tests/Functional/Controller/LoginControllerTest.php
  tests/Unit/Routing/RoutesTest.php
Labels: none

Fix: Run 'php-cs-fixer fix'
  src/Security/UserAuthenticator.php
Labels: none

Fix: Run 'twig-cs-fixer lint --fix'
  templates/page/index.html.twig
  templates/page/layout.html.twig
Labels: none

Fix
  .github/workflows/ci-js.yaml
  .github/workflows/ci-php.yaml
  .nvmrc
  composer.json
  composer.lock
Labels: dependency, Github Actions
