Repository datana-gmbh/scanio-lite, pull requests merged in 2023-12, with the labels that each got.

#10 Enhancement: Add Flysystem
  composer.json
  composer.lock
  config/bundles.php
  config/packages/flysystem.yaml
  symfony.lock
Labels: dependency

#12 Require ComposerRequireChecker 4.8
  phive.xml
  public/documents/7bf95617.pdf
  tools/composer-require-checker
Labels: feature

#21 Rename `Venture` to `Group`
  .github/workflows/database-migration-check.yaml
  migrations/Version20231206195901.php
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Group.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounter.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/GroupValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/GroupTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/GroupValueResolverTest.php
Labels: feature, Github Actions

#22 Rename `Type` to `Category`
  migrations/Version20231206201746.php
  phpstan-baseline.neon
  src/Controller/EditController.php
  src/Controller/ListController.php
  src/Crud/Edit/Form/FormTypeFactory.php
  src/Crud/Edit/Form/FormTypeFactoryInterface.php
  src/Crud/Edit/Form/FormTypeFactoryLoadableInterface.php
  src/Crud/Edit/Form/Types/Default/Pending.php
  src/Crud/Edit/Form/Types/Default/Sonstiges.php
  src/Crud/List/Query/Letter/DefaultLetterQuery.php
  src/Crud/List/Query/QueryFactory.php
  src/Crud/List/Query/QueryFactoryInterface.php
  src/Domain/Enum/Category.php
  src/Entity/Letter.php
  src/Fixtures/Factory/LetterFactory.php
  src/Form/Choices.php
  src/Form/PendingForm.php
  src/Form/UploadFormType.php
  src/Tree/Node/CategoryCounter.php
  src/Tree/Node/CategoryCounterInterface.php
  src/Tree/Node/CategoryNodeFactory.php
  src/Tree/Node/DefaultGroupNodeBuilder.php
  src/Tree/Node/TypeCounterInterface.php
  src/Tree/Node/TypeNodeFactory.php
  src/Tree/Voter/UrlPathVoter.php
  src/ValueResolver/CategoryValueResolver.php
  templates/default/edit.html.twig
  templates/default/list.html.twig
  templates/upload/upload.html.twig
  tests/Unit/Crud/Edit/Form/FormTypeFactoryTest.php
  tests/Unit/Domain/Enum/CategoryTest.php
  tests/Unit/Domain/Enum/TypeTest.php
  tests/Unit/Form/ChoicesTest.php
  tests/Unit/ValueResolver/CategoryValueResolverTest.php
Labels: feature

#24 Fix: Namespace
  src/Bridge/Flysystem/UrlGenerator.php
Labels: bug

#25 Remove unused exception
  src/Exception/FileNotFoundException.php
Labels: bug

#26 Enhancement: Require `vincentlanglet/twig-cs-fixer` with version `^2.0`
  composer.json
  composer.lock
Labels: dependency, feature

#40 Enhancement: Use `actions/labeler@v5` and migrate format used in `labeler.yml`
  .github/workflows/triage.yaml
Labels: feature, Github Actions

#44 Add login
  .github/workflows/ci-js.yaml
  .github/workflows/ci-php.yaml
  .nvmrc
  assets/css/tailwind.css
  assets/images/datana-logo-complete-gray.png
  composer.json
  composer.lock
  config/packages/security.yaml
  migrations/Version20231208113621.php
  phpstan-baseline.neon
  src/Bridge/Faker/ExtendedGenerator.php
  src/Bridge/Faker/Provider/EmailProvider.php
  src/Controller/IndexController.php
  src/Controller/Security/DashboardController.php
  src/Controller/Security/EditController.php
  src/Controller/Security/ListController.php
  src/Controller/Security/LogoutController.php
  src/Controller/Security/UploadController.php
  src/Entity/User.php
  src/Exception/UserNotFound.php
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
  src/Repository/UserRepository.php
  src/Repository/UserRepositoryInterface.php
  src/Routing/Routes.php
  src/Security/UserAuthenticator.php
  templates/layout.html.twig
  templates/page/index.html.twig
  templates/page/layout.html.twig
  tests/Functional/AppBrowser.php
  tests/Functional/Controller/LoginControllerTest.php
  tests/Functional/FunctionalDummyTest.php
  tests/Unit/Routing/RoutesTest.php
Labels: dependency, feature, Github Actions

#53 Fix: PDF preview
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
  src/Twig/PreviewExtension.php
Labels: bug

#60 Enhancement: Streamline PW hashing
  src/Fixtures/Factory/UserFactory.php
  src/Fixtures/Story/GlobalStory.php
Labels: dependency, feature

#61 Require `symfony/mime`
  composer-unused.php
  composer.json
  composer.lock
Labels: dependency, feature

#63 Enhancement: use real PDF files
  src/Fixtures/Factory/DocumentFactory.php
  src/Fixtures/Factory/files/test.pdf
  src/Fixtures/Resources/files/invoice1.pdf
  src/Fixtures/Resources/files/invoice2.pdf
  src/Fixtures/Resources/files/invoice3.pdf
  src/Fixtures/Resources/files/invoice4.pdf
Labels: feature

#71 Add `AppBrowser::login()`
  tests/Functional/AppBrowser.php
Labels: feature

#73 Upgrade recipe and fix deprecation
  config/packages/framework.yaml
  config/packages/security.yaml
  symfony.lock
Labels: dependency, feature

#74 Enhancement: Add `Document::$originalFilename`
  migrations/Version20231214081008.php
  src/Entity/Document.php
Labels: feature

#69 Enhancement: Add upload logic
  src/Controller/Security/UploadController.php
  src/Form/Type/SearchableEnumType.php
  src/Form/UploadFormType.php
  templates/form/tailwind_layout.html.twig
  tests/Fixture/blank.pdf
  tests/Functional/Controller/DashboardControllerTest.php
  tests/Functional/Controller/UploadFileControllerTest.php
Labels: feature

#72 Add `UploadedFileWriter`
  config/services.yaml
  src/Storage/UploadedFileWriter.php
  src/Storage/UploadedFileWriterInterface.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/Storage/UploadedFileWriterTest.php
Labels: feature

#76 Enhancement: Add Storage Entity
  config/packages/doctrine.yaml
  migrations/Version20231214093021.php
  phpstan-baseline.neon
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/StorageIdType.php
  src/Domain/Enum/StorageType.php
  src/Domain/Identifier/StorageId.php
  src/Entity/Storage.php
  src/Exception/StorageNotFound.php
  src/Fixtures/Factory/StorageFactory.php
  src/Repository/DocumentRepositoryInterface.php
  src/Repository/StorageRepository.php
  src/Repository/StorageRepositoryInterface.php
  src/Repository/UserRepositoryInterface.php
  tests/Integration/Entity/StorageTest.php
Labels: feature

#77 Enhancement: Add and use `FilenameGenerator*`
  src/Controller/Security/UploadController.php
  src/Storage/FilenameGeneratorInterface.php
  src/Storage/UniqueFilenameGenerator.php
Labels: feature

#78 Persist original filename
  config/services.yaml
  src/Controller/Security/UploadController.php
  src/Storage/SameFilenameGenerator.php
  src/Storage/UploadedFileWriter.php
Labels: feature

#81 Enhancement: Adds Admin for Storage configuration
  migrations/Version20231214100457.php
  src/Controller/Admin/DashboardController.php
  src/Controller/Admin/StorageCrudController.php
  src/Entity/Storage.php
Labels: feature

#84 Enhancement: Enable/Disable Storage
  migrations/Version20231214121820.php
  src/Controller/Admin/StorageCrudController.php
  src/Entity/Storage.php
  src/Fixtures/Factory/StorageFactory.php
Labels: feature

#83 Enhancement: Dropbox import command
  composer.json
  composer.lock
  config/packages/doctrine.yaml
  migrations/Version20231214122430.php
  migrations/Version20231214193847.php
  phpstan-baseline.neon
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/SourceIdType.php
  src/Bridge/Dropbox/Domain/Value/DropboxResource.php
  src/Controller/Admin/DashboardController.php
  src/Controller/Admin/SourceCrudController.php
  src/Creator/DocumentCreator.php
  src/Creator/DocumentCreatorInterface.php
  src/Domain/Identifier/SourceId.php
  src/Entity/Source.php
  src/Exception/SourceNotFound.php
  src/Exception/StorageNotFound.php
  src/Fixtures/Factory/SourceFactory.php
  src/Fixtures/SourceFixtures.php
  src/Fixtures/UserFixtures.php
  src/Repository/SourceRepository.php
  src/Repository/SourceRepositoryInterface.php
  src/Repository/StorageRepository.php
  src/Repository/StorageRepositoryInterface.php
  src/Source/Command/ImportDropboxCommand.php
  src/Source/Import/DropboxImporter.php
  src/Source/Import/ImporterInterface.php
  src/Source/Value/Type.php
  src/Storage/FilenameGeneratorInterface.php
  src/Storage/SameFilenameGenerator.php
  src/Storage/TempFileWriter.php
  src/Storage/TempFileWriterInterface.php
  src/Storage/UniqueFilenameGenerator.php
  src/Storage/UploadedFileWriterInterface.php
  tests/Integration/Entity/SourceTest.php
  tests/Unit/Entity/SourceTest.php
Labels: dependency

#88 Add `ImporterFactory`
  src/Repository/SourceRepository.php
  src/Repository/SourceRepositoryInterface.php
  src/Source/Command/ImportSourcesCommand.php
  src/Source/Import/DropboxImporter.php
  src/Source/Import/ImporterFactory.php
  src/Source/Import/ImporterInterface.php
Labels: feature

#75 Enhancement: Use `UploadedFileWriter`
  src/Controller/Security/UploadController.php
  tests/Functional/Controller/UploadControllerTest.php
  tests/Functional/FunctionalTestCase.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/Storage/UploadedFileWriterTest.php
Labels: feature

#92 Enhancement: Add `local` importer
  src/Fixtures/SourceFixtures.php
  src/Source/Importer/DropboxImporter.php
  src/Source/Importer/ImporterInterface.php
  src/Source/Importer/LocalImporter.php
Labels: feature

#89 Use attributes
  config/services.yaml
  src/Fixtures/Factory/DocumentFactory.php
  src/Twig/PreviewExtension.php
Labels: feature

#94 Add `Document::$source`
  migrations/Version20231215095817.php
  src/Creator/DocumentCreator.php
  src/Creator/DocumentCreatorInterface.php
  src/Crud/List/Query/Letter/DefaultDocumentQuery.php
  src/Entity/Document.php
  src/Fixtures/Factory/DocumentFactory.php
  src/Source/Importer/DropboxImporter.php
  src/Source/Importer/LocalImporter.php
Labels: feature

#93 Dispatch `DocumentFinishedEvent`
  composer.json
  composer.lock
  src/Controller/Security/EditController.php
  src/Domain/Event/DocumentExportedEvent.php
  src/Domain/Event/DocumentFinishedEvent.php
Labels: dependency

#97 Enhancement: Better template structure
  config/packages/twig.yaml
  src/Controller/Security/DashboardController.php
  src/Controller/Security/EditController.php
  src/Controller/Security/ListController.php
  src/Controller/Security/UploadController.php
  src/Twig/PreviewExtension.php
  templates/secured/dashboard.html.twig
  templates/secured/default/edit.html.twig
  templates/secured/default/list.html.twig
  templates/secured/default/list_header.html.twig
  templates/secured/default/pagination.html.twig
  templates/secured/default/types/boolean.html.twig
  templates/secured/default/types/date.html.twig
  templates/secured/default/types/datetime.html.twig
  templates/secured/default/types/field.html.twig
  templates/secured/default/types/id.html.twig
  templates/secured/default/types/integer.html.twig
  templates/secured/default/types/text.html.twig
  templates/secured/default/types/url.html.twig
  templates/secured/layout.html.twig
  templates/secured/menu/menu.html.twig
  templates/secured/pdf/preview.html.twig
  templates/secured/upload/upload.html.twig
Labels: feature

#98 Enhancement: Fix get in query InputBag only returns scalar values
  templates/secured/default/list_header.html.twig
Labels: feature

#100 Enhancement: Adds E-Mail entity
  config/packages/doctrine.yaml
  migrations/Version20231216092717.php
  src/Bridge/Doctrine/DBAL/Types/Type/Identifier/EmailIdType.php
  src/Domain/Identifier/EmailId.php
  src/Entity/Email.php
  src/Exception/EmailNotFound.php
  src/Fixtures/EmailFixtures.php
  src/Fixtures/Factory/EmailFactory.php
  src/Repository/EmailRepository.php
  src/Repository/EmailRepositoryInterface.php
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/EmailIdTypeTest.php
  tests/Unit/Bridge/Doctrine/DBAL/Types/Type/Identifier/SourceIdTypeTest.php
Labels: feature

#101 Enhancement Renames `Letter` dir to `Document`
  src/Crud/List/Query/Document/DefaultDocumentQuery.php
  src/Crud/List/Query/QueryFactory.php
Labels: feature

#103 Rename `Email::$sender` to `Email::$from`
  migrations/Version20231217104831.php
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#104 Rename `Email::$receiver` to `Email::$to`
  migrations/Version20231217105253.php
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#108 Regenerate migration
  migrations/Version20231217104831.php
  migrations/Version20231217105253.php
  migrations/Version20231217105614.php
Labels: feature

#111 Add fields to `Email`
  migrations/Version20231217195420.php
  src/Entity/Email.php
Labels: feature

#114 Factory
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#115 Add more fields
  migrations/Version20231217200614.php
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#116 Add `Email::$headers`
  migrations/Version20231217201433.php
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#118 Regenerate migration
  migrations/Version20231217195420.php
  migrations/Version20231217200614.php
  migrations/Version20231217201433.php
  migrations/Version20231217201809.php
Labels: feature

#119 More TOs allowed
  migrations/Version20231217202326.php
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature

#120 Change array structure
  src/Entity/Email.php
  src/Fixtures/Factory/EmailFactory.php
Labels: feature
